*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f4f6f9;
}

/* Header */
header{
background:#111;
color:#fff;
padding:15px 50px;
display:flex;
justify-content:space-between;
align-items:center;
}

/* Logo */
.logo h2{
letter-spacing:2px;
}

/* Menu */
nav ul{
list-style:none;
display:flex;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

nav ul li a:hover{
color:#00bcd4;
}

/* Menu Button */
.menu-btn{
display:none;
font-size:24px;
cursor:pointer;
}

/* UPSC and Degree Area */
.notice-area{
display:flex;
justify-content:space-between;
padding:40px 80px;
background:#e9ecef;
}

/* Buttons */
.upsc-btn{
padding:15px 35px;
font-size:20px;
background:linear-gradient(45deg,#007bff,#00c6ff);
color:white;
border:none;
border-radius:30px;
cursor:pointer;
}

.degree-btn{
padding:15px 35px;
font-size:20px;
background:linear-gradient(45deg,#ff5722,#ff9800);
color:white;
border:none;
border-radius:30px;
cursor:pointer;
}

/* Notice Box */
#upscBox, #degreeBox{
display:none;
position:absolute;
background:white;
color:black;
padding:10px;
margin-top:10px;
width:200px;
border:1px solid black;
z-index:1;
}

.hero{
text-align:center;
padding:60px;
background:linear-gradient(to right, #007bff, #00bcd4);
color:white;
}

section{
padding:40px;
text-align:center;
}

.gallery-box{
display:flex;
justify-content:center;
gap:15px;
}

.gallery-box img{
width:150px;
height:150px;
border-radius:10px;
box-shadow:0 0 10px grey;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}

footer a{
color:#00bcd4;
text-decoration:none;
}

/* Mobile View */
@media(max-width:768px){

nav ul{
flex-direction:column;
display:none;
background:#111;
position:absolute;
top:60px;
right:0;
width:150px;
}

nav ul li{
margin:10px;
}

.menu-btn{
display:block;
}

.notice-area{
padding:20px;
}

}
